/* remove all margin border and padding from all elements */
html,body,h1,h2,h3,h4,p,header,div,section,img,ul,li,a,ol,nav{
    padding: 0;
    border: 0;
    margin: 0;
  
    
}
main{
    max-width: 1200px;
    margin: 0 auto;
}
/* Below 1200px the main content must be 100% across the screen */
@media (max-width: 1200px) {
    main {
      max-width: 100%;
      padding: 0 10px; /* Add some padding to the left and right of the main content */
    }
}
/* 
navigation/manu element */
nav{
    background-color: rgb(76, 76, 179);
    width: 15%;
    height: 1500px;
    position: absolute;
    z-index: 9;
    display: none;
    margin-top: 17px;
    padding-top: 5px;
    
    
}
nav ul{
    padding-top: 40px;
    padding-left: 40px;
    list-style-type: none;
    
    color: white;
    text-decoration: none;
    font-size: 35px;
   
    
}
nav ul li a{
    color: white;
    text-decoration: none;
}

/* implement the shadow */
header{
    background-color: rgb(76, 76, 179);
    height: 80px;
    box-shadow: 0 1.9rem 1.9rem rgba(83, 78, 78, 0.5);
    
}


/* left and righ image on the header with percentural size */

.left{
    display: inline-block;
    float: left;
    width: 5%;
    padding-top: 30;
    
      
    
}
.right{
    display: inline-block;
    float: right;
    width: 5%;
   
    
}
header h1{
    display: inline-block;
    text-align: center;
    width: 80%;
    color: white;
    margin-top: 25px;
}

/* main picture insert as background */
.main-picture {
    background-image: url('https://raw.githubusercontent.com/Zulinov/skillsProjects/main/canoe.jpg');
    background-size: cover; /* adjusts the size of the image to cover the entire div */
    background-position: center; /* centers the image within the div */
  
    height: 400px;
    margin-left: 40px;
    margin-right: 40px;
    position: relative;

  }
.main-picture-text1{
    text-align: center;
    color: white;
    padding-top: 150px;
}
.main-picture-text2{
    text-align: center;
    color: white;
}
.adventures{
    margin-left: 60px;
}
section h1{
    font-size: 80px;
    margin-top: 10px;
    margin-left: 15px;
    border-bottom: 1px solid rgb(184, 192, 184);
    max-width: 850px;
}
section div h2{
    color:green;
    margin-top: 15px;
    text-decoration: underline  ;
}
.specif{
    font-size: 15px;
    margin-top: 15px;
}

section div h3{
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 150;
}
.trip{
    width: 700px;
}
section div p{
    margin-bottom: 10px;
    line-height: 1.3;
}

}
/* Apply styles for screens narrower than 800px */
@media (max-width: 800px) {

    main {
        font-size: 10px;
      }


    section h1{
        font-size: 50px;
        margin-top: 10px;
        margin-left: 15px;
        
    }

    section div h2{
       
        margin-top: 10px;
        
    }
    .specif{
        font-size: 10px;
        margin-top: 15px;
    }
    
    section div h3{
        margin-top: 10px;
        margin-bottom: 5px;
        font-size: 10px;
        font-weight: 100;
    }
  }